body{
	font-family: Arial;
	font-size: 80%;
}

#wrapper{
	width: 80%;
	margin: 20px auto 0;
}

#header label{
	display: block;
	margin-top: 10px;
}

#header label span{
	width: 150px;
	display: inline-block;
}

#header .submit{
	margin-top: 40px;
}

#header .submit input[type="button"]{
	border-radius: 5px;
	border: 1px solid #eeeeee;
	padding: 10px;
}
td , th {
    padding-left: 10%;
    padding-left: 10%;
}